.git
.env
.env.*
.npmrc
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
*.tgz
AI
coverage
dist
.DS_Store
test
docs
assets
kubernetes
poc-plan.md
poc-report.md
Dockerfile
Dockerfile.ubi
